table {
	width: 100%;
}

.main {
	width: 100%;
	text-align: center;
	padding: 0 50px;
}

.main2 {
	padding: 0 200px;
	text-align: center;
}

.row {
	height: 100px;
}

img {
	width: 50%;
	margin-left:25%;
}

.button {
	border-radius: 12px;
	width: 150px;
	margin: 40px auto;
	padding: 5px;
	background-color: #53b6ff;
	text-align: center;
}

.buttonRow {
	float: right;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 18px;
	text-align: justify;
}