html{margin:0;}

body{
  margin:0;
}

.main {
  width: 100%;
  text-align: center;
  /*padding: 0 50px;*/
}



.row {
  height: 100px;
}

.wheel {
  width: 50%;
  margin-left:25%;
}

.red{
  width:70px;
}

.kid{
  width:10%;
  margin:3%;
}




.buttons:hover{
    opacity: 1;
}

.buttonRed{
  border-radius: 50%;
}

.backBtn {
  border-radius: 12px;
  width: 150px;
  margin: 40px auto;
  margin-left: 10px;
  padding: 5px;
  background-color: #53b6ff;
  text-align: center;

}


h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  text-align: justify;
}

